.experience {
    padding: 30px;
    background: #111; /* Dark background */
    border-radius: 10px;
    margin-bottom: 20px;
    color: #E6E6E6; /* Light white text */
}

.experience h2 {
    color: #FF0000; /* Red heading */
    border-bottom: 2px solid #FF0000; /* Red underline */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.experience ul {
    list-style: none;
    padding: 0;
}

.experience li {
    font-size: 1.2em;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .experience li {
        font-size: 1em;
    }
}
